<!DOCTYPE html>
<html>
<head>
  <title>Hipster Doofus</title>
  <link rel="stylesheet" href="/static/css/reset.css" type="text/css" media="screen">
  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.4/jquery.min.js" type="text/javascript"></script>
  <script src="/static/js/hipster.js" type="text/javascript"></script>
  <style>
    .link{cursor:pointer;}
    .rate li{display: inline;}
    #container{width:800px; margin:0 auto; border:2px solid #333; overflow:hidden;}
    #doc_list ul{overflow:hidden;}
    #doc_items li{width:150px; height: 150px; float:left; overflow:hidden; margin:0px 0px 10px 10px;}
    #doc_items li.even{overflow:hidden; border:solid 3px #555;}
    #doc_items li.odd{overflow:hidden; border:solid 3px #3e3;}
    #pagination li.paginate{display: inline;}
  </style>
</head>
<body>
  <div id="container">
    <a href="#top" onclick="Hipster.load_page(1)">view all</a>
    <div id="doc_list"></div>
    <div id="document" style="overflow:hidden;width:500px"></div>
  </div>
  <script>
	$(document).ready(function () {
	  Hipster.init()
	});
	</script>
</body>
</html>